[submodule "thirdparty/SDL2"]
	path = thirdparty/SDL2
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "thirdparty/tinyfiledialogs"]
	path = thirdparty/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git
