[Desktop Entry]
Version=1.1
Type=Application
Name=Whisk3D pre-alpha
GenericName=Game Engine
Comment=Creacion de juegos 3D, Animacion y Modelado
Icon=/home/dante/Documentos/personal/Whisk3D/Linux/Whisk3D.svg
Exec=/home/dante/Documentos/personal/Whisk3D/Linux/Whisk3D_Pre-alpha %f
Actions=
MimeType=application/x-whisk3d;
Categories=3DGraphics;Graphics;
Keywords=3d;modeling;animation;painting;sculpting;texturing;rendering;render engine;cycles;game engine;
